___
# Ciência dos Dados - PROJETO 1

## Gabriel Couto
___

## Perfil dos brasileiros economicamente ativos

___
## Introdução

#Botar UF <br>

As variáveis selecionadas: <br>
    -Idade <br>
    -Sexo <br>
    -Estado Civil <br>
    -Economicamente Ativo ou não <br>
    -CH de trabalho (h) <br>
    -Nível acadêmico mais elevado que alcançou <br>
    -Rendimento mensal de todos os trabalhos (reais) <br>
    -Rendimento mensal de todas as fontes(reais) <br>

Analizar
Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Filtros da base de dados

In [4]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
tabela = pd.read_table("PES2015.csv", encoding="windows-1252", sep=",")

In [5]:
colunas = ['V0101','V8005', #Int
           'V0302','V4011','V4704','V4707','V6007', #Category
           'V4719','V4720'] #Float

dados = tabela.loc[:,colunas]

#Adotando nomes mais identificáveis às colunas:
colunas[0] = 'Ano'
colunas[1] = 'Idade'

colunas[2] = 'Sexo'
colunas[3] = 'Estado Civil' 
colunas[4] = 'Economicamente' #Condição de atividade na semana
colunas[5] = 'CH de trabalho (h)' #Horas trabalhadas na semana em todos empregos (Carga Horária de Trabalho semanal)
colunas[6] = 'Maior graduação' #Curso mais elevado que frequentou

colunas[7] = 'Rend. trabalho(R$)' #Rendimento mensal de todos os trabalhos (para maiores de 10 anos)
colunas[8] = 'Rend. total(R$)' #Rendimento mensal de todas fontes (para maiores de 10 anos)

#Renomeando as colunas:
dados.columns = colunas


#Definindo as variáveis qualitativas como categóricas:
dados[colunas[2]] = dados[colunas[2]].astype('category')
dados[colunas[3]] = dados[colunas[3]].astype('category')
dados[colunas[4]] = dados[colunas[4]].astype('category')
dados[colunas[5]] = dados[colunas[5]].astype('category') 
dados[colunas[6]] = dados[colunas[6]].astype('category')

#Definindo as categorias das variáveis categóricas:
dados[colunas[2]].cat.categories=(['Masculino','Feminino'])
dados[colunas[3]].cat.categories=(['Solteiro','Casado','Desquisado','Divorciado','Viúvo'])
dados[colunas[4]].cat.categories=(['Ativa','Não Ativa'])
dados[colunas[5]].cat.categories=(['< 14','15 a 39','40 a 44','45 a 48','> 49'])
dados[colunas[6]].cat.categories=(['Elementar','Médio 1º ciclo','Médio 2º ciclo','Regular EF','Regular EM','Supletivo EF','Supletivo EM','Graduação','Mestrado ou Doutorado','Supletivo de Alfabetização','Creche','Alfabetização','Maternal']) #EF = Ensino Fundamental | EM  = Ensino Médio

ativos = dados

In [8]:
dados.head(20)

,Ano,Idade,Sexo,Estado Civil,Economicamente,CH de trabalho (h),Maior graduação,Rend. trabalho(R$),Rend. total(R$)
0,2015,23,Masculino,Solteiro,Ativa,40 a 44,Regular EM,800.0,800.0
1,2015,23,Feminino,Divorciado,Ativa,40 a 44,Regular EM,1150.0,1150.0
2,2015,35,Feminino,NaN,Ativa,40 a 44,NaN,880.0,880.0
3,2015,34,Masculino,NaN,Ativa,> 49,Graduação,3000.0,3000.0
4,2015,11,Feminino,Solteiro,Não Ativa,NaN,NaN,NaN,0.0
5,2015,7,Feminino,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,4,Feminino,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,18,Feminino,Solteiro,Ativa,40 a 44,Regular EM,880.0,880.0
8,2015,46,Masculino,Solteiro,Ativa,> 49,Regular EF,3500.0,3500.0
9,2015,81,Feminino,Viúvo,Não Ativa,NaN,Elementar,NaN,2300.0
10,2015,71,Feminino,Divorciado,Não Ativa,NaN,Regular EF,NaN,1990.0
11,2015,47,Feminino,Casado,Ativa,40 a 44,Regular EF,150.0,700.0
12,2015,24,Masculino,Solteiro,Ativa,NaN,Regular EM,NaN,0.0
13,2015,28,Feminino,Casado,Não Ativa,NaN,Regular EM,NaN,0.0
14,2015,50,Masculino,Casado,Ativa,> 49,Regular EF,4000.0,4000.0
15,2015,1,Masculino,NaN,NaN,NaN,NaN,NaN,NaN
16,2015,34,Feminino,Casado,Ativa,40 a 44,Regular EM,790.0,1160.0
17,2015,35,Masculino,Casado,Ativa,40 a 44,Regular EM,2000.0,2000.0
18,2015,16,Masculino,Solteiro,Ativa,> 49,Regular EF,930.0,930.0
19,2015,11,Feminino,Solteiro,Não Ativa,NaN,NaN,NaN,0.0

___
## Análise e Resultados

In [7]:
dados[dados['Rend. trabalho(R$)']<dados['Rend. total(R$)']]

,Ano,Idade,Sexo,Estado Civil,Economicamente,CH de trabalho (h),Maior graduação,Rend. trabalho(R$),Rend. total(R$)
11,2015,47,Feminino,Casado,Ativa,40 a 44,Regular EF,150.0,700.0
16,2015,34,Feminino,Casado,Ativa,40 a 44,Regular EM,790.0,1160.0
24,2015,60,Feminino,Solteiro,Ativa,15 a 39,Regular EM,1700.0,2500.0
61,2015,62,Feminino,Viúvo,Ativa,> 49,Regular EM,2850.0,3638.0
68,2015,53,Masculino,NaN,Ativa,45 a 48,Regular EM,2000.0,4000.0
71,2015,34,Feminino,Casado,Ativa,45 a 48,NaN,1600.0,2200.0
130,2015,62,Masculino,Desquisado,Ativa,> 49,NaN,1300.0,2700.0
136,2015,64,Masculino,Divorciado,Ativa,45 a 48,Elementar,600.0,1388.0
139,2015,63,Masculino,Viúvo,Ativa,40 a 44,Elementar,1000.0,1788.0
145,2015,40,Feminino,Solteiro,Ativa,45 a 48,Regular EF,1000.0,1200.0
196,2015,16,Masculino,Solteiro,Ativa,40 a 44,NaN,1500.0,2000.0
228,2015,45,Feminino,Divorciado,Ativa,15 a 39,Regular EF,400.0,554.0
236,2015,38,Feminino,Divorciado,Ativa,40 a 44,Regular EF,850.0,1050.0
244,2015,39,Feminino,Solteiro,Ativa,15 a 39,Regular EF,300.0,522.0
253,2015,21,Feminino,Divorciado,Ativa,40 a 44,Regular EM,1000.0,1150.0
264,2015,45,Feminino,Solteiro,Ativa,< 14,Regular EF,600.0,660.0
277,2015,23,Masculino,Solteiro,Ativa,40 a 44,Regular EF,870.0,1658.0
285,2015,73,Masculino,NaN,Ativa,< 14,NaN,0.0,788.0
318,2015,36,Feminino,NaN,Ativa,15 a 39,NaN,300.0,400.0
360,2015,36,Feminino,Casado,Ativa,40 a 44,Regular EF,0.0,185.0
392,2015,29,Feminino,Casado,Ativa,40 a 44,Regular EF,880.0,950.0
408,2015,31,Feminino,Casado,Ativa,> 49,Regular EM,1500.0,1950.0
431,2015,24,Masculino,Casado,Ativa,40 a 44,Regular EM,1200.0,1600.0
444,2015,39,Masculino,Casado,Ativa,40 a 44,Regular EM,900.0,1250.0
460,2015,37,Feminino,Solteiro,Ativa,15 a 39,Regular EM,400.0,667.0
467,2015,32,Masculino,NaN,Ativa,45 a 48,Regular EM,1200.0,1580.0
500,2015,55,Feminino,Viúvo,Ativa,15 a 39,Supletivo EM,380.0,1280.0
519,2015,67,Masculino,Viúvo,Ativa,> 49,Elementar,1500.0,2288.0
530,2015,66,Feminino,Viúvo,Ativa,40 a 44,NaN,1600.0,3177.0
537,2015,60,Masculino,NaN,Ativa,40 a 44,Supletivo EM,1400.0,2440.0
...,...,...,...,...,...,...,...,...,...
356558,2015,21,Feminino,Solteiro,Ativa,40 a 44,Regular EM,1400.0,1600.0
356574,2015,31,Feminino,Solteiro,Ativa,40 a 44,Regular EM,1500.0,1665.0
356596,2015,47,Feminino,Solteiro,Ativa,40 a 44,Regular EF,1000.0,1400.0
356606,2015,58,Feminino,Solteiro,Ativa,40 a 44,Regular EM,2200.0,2988.0
356615,2015,37,Feminino,Solteiro,Ativa,15 a 39,Regular EF,1200.0,1347.0
356639,2015,43,Feminino,NaN,Ativa,40 a 44,NaN,1700.0,1847.0
356666,2015,40,Masculino,NaN,Ativa,45 a 48,Regular EF,800.0,2100.0
356712,2015,31,Feminino,Solteiro,Ativa,40 a 44,Regular EF,1800.0,2050.0
356715,2015,40,Feminino,Divorciado,Ativa,40 a 44,Regular EM,1300.0,2202.0
356718,2015,21,Feminino,Solteiro,Ativa,40 a 44,Regular EM,788.0,1031.0
356737,2015,57,Masculino,NaN,Ativa,40 a 44,Médio 2º ciclo,1500.0,2200.0
356743,2015,52,Feminino,Solteiro,Ativa,40 a 44,Elementar,1800.0,2250.0
356746,2015,31,Feminino,Solteiro,Ativa,40 a 44,Regular EF,850.0,993.0
356758,2015,35,Feminino,Solteiro,Ativa,45 a 48,Regular EF,1200.0,2250.0
356765,2015,37,Feminino,Solteiro,Ativa,40 a 44,Graduação,1300.0,1714.0
356775,2015,32,Feminino,Solteiro,Ativa,15 a 39,Regular EM,788.0,1576.0
356787,2015,42,Masculino,Solteiro,Ativa,15 a 39,Regular EF,2200.0,2850.0
356803,2015,49,Feminino,Viúvo,Ativa,15 a 39,Regular EF,788.0,1183.0
356807,2015,27,Feminino,Solteiro,Ativa,40 a 44,Regular EM,866.0,1066.0
356817,2015,64,Masculino,NaN,Ativa,15 a 39,Médio 2º ciclo,8000.0,16000.0
356825,2015,39,Masculino,Solteiro,Ativa,40 a 44,Regular EM,6000.0,7500.0
356839,2015,62,Masculino,NaN,Ativa,15 a 39,Graduação,10000.0,30000.0
356843,2015,42,Masculino,NaN,Ativa,15 a 39,Regular EM,32000.0,36000.0
356846,2015,62,Masculino,NaN,Ativa,40 a 44,Graduação,3500.0,6500.0
356849,2015,44,Feminino,Solteiro,Ativa,40 a 44,Mestrado ou Doutorado,30000.0,30640.0
356851,2015,49,Feminino,Desquisado,Ativa,40 a 44,Regular EM,5000.0,13000.0
356871,2015,46,Feminino,Casado,Ativa,40 a 44,Regular EM,812.0,982.0
356876,2015,47,Feminino,Casado,Ativa,40 a 44,Creche,800.0,877.0
356881,2015,30,Masculino,Solteiro,Ativa,> 49,Regular EF,2500.0,3100.0
356885,2015,32,Masculino,NaN,Ativa,45 a 48,Regular EM,1300.0,1600.0

In [39]:
dados.head(20)

,Ano,Idade,Sexo,Estado Civil,Economicamente,CH de trabalho (h),Rend. dom. per. cap. (SM),Maior graduação,Rend. trabalho(R$),Rend. total(R$)
0,2015,23,Masculino,Solteiro,Ativa,40 a 44,1 a 2,Regular EM,800.0,800.0
1,2015,23,Feminino,Divorciado,Ativa,40 a 44,1 a 2,Regular EM,1150.0,1150.0
2,2015,35,Feminino,NaN,Ativa,40 a 44,1 a 2,NaN,880.0,880.0
3,2015,34,Masculino,NaN,Ativa,> 49,1 a 2,Graduação,3000.0,3000.0
4,2015,11,Feminino,Solteiro,Não Ativa,NaN,1 a 2,NaN,NaN,0.0
5,2015,7,Feminino,NaN,NaN,NaN,1 a 2,NaN,NaN,NaN
6,2015,4,Feminino,NaN,NaN,NaN,1 a 2,NaN,NaN,NaN
7,2015,18,Feminino,Solteiro,Ativa,40 a 44,1 a 2,Regular EM,880.0,880.0
8,2015,46,Masculino,Solteiro,Ativa,> 49,3 a 5,Regular EF,3500.0,3500.0
9,2015,81,Feminino,Viúvo,Não Ativa,NaN,3 a 5,Elementar,NaN,2300.0
10,2015,71,Feminino,Divorciado,Não Ativa,NaN,2 a 3,Regular EF,NaN,1990.0
11,2015,47,Feminino,Casado,Ativa,40 a 44,1/4 a 1/2,Regular EF,150.0,700.0
12,2015,24,Masculino,Solteiro,Ativa,NaN,1/4 a 1/2,Regular EM,NaN,0.0
13,2015,28,Feminino,Casado,Não Ativa,NaN,1 a 2,Regular EM,NaN,0.0
14,2015,50,Masculino,Casado,Ativa,> 49,1 a 2,Regular EF,4000.0,4000.0
15,2015,1,Masculino,NaN,NaN,NaN,1 a 2,NaN,NaN,NaN
16,2015,34,Feminino,Casado,Ativa,40 a 44,1 a 2,Regular EM,790.0,1160.0
17,2015,35,Masculino,Casado,Ativa,40 a 44,1 a 2,Regular EM,2000.0,2000.0
18,2015,16,Masculino,Solteiro,Ativa,> 49,1 a 2,Regular EF,930.0,930.0
19,2015,11,Feminino,Solteiro,Não Ativa,NaN,1 a 2,NaN,NaN,0.0

___
## Conclusão

Descreva aqui suas conclusões!