___
# Ciência dos Dados - PROJETO 1

## Gabriel Couto & Daniel

## Perfil dos brasileiros economicamente ativos

___
## Introdução

Variáveis Analizadas: <br>
    -Idade <br>
    -Sexo <br>
    -Estado Civil <br>
    -Região <br>
    -Economicamente Ativo ou Inativo <br>
    -Carga Horária de trabalho (h) <br>
    -Nível acadêmico mais elevado que alcançou<br> 
    -Rendimento mensal de todos os trabalhos (reais) <br>
    -Rendimento mensal de todas as fontes(reais) <br>

Analizar
Descreva aqui o que pretende analisar! <br>
OBS:Todos que são economicamente inativos tem Renda do trabalho NaN

___
## Filtros da base de dados

In [141]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
tabela = pd.read_table("PES2015.csv", encoding="windows-1252", sep=",")

In [179]:
colunas = ['V8005', #Int
           'V0302','V4011','V4704','V4707','V6007','UF', #Category
           'V4719','V4720'] #Float

dados = tabela.loc[:,colunas]

#Adotando nomes mais identificáveis às colunas:
colunas[0] = 'Idade'

colunas[1] = 'Sexo'
colunas[2] = 'Estado Civil' 
colunas[3] = 'Economicamente' #Condição de atividade na semana
colunas[4] = 'CH de trabalho (h)' #Horas trabalhadas na semana em todos empregos (Carga Horária de Trabalho semanal)
colunas[5] = 'Maior graduação' #Curso mais elevado que frequentou
colunas[6] = 'Região'

colunas[7] = 'Rend. trabalho(R$)' #Rendimento mensal de todos os trabalhos (para maiores de 10 anos)
colunas[8] = 'Rend. total(R$)' #Rendimento mensal de todas fontes (para maiores de 10 anos)

#Renomeando colunas
dados.columns = colunas 

#Unindo estados por regiões:
dados['Região'] = dados['Região']//10 


#Unindo categorias de educação:
    #Antes do EF (10) == Alfabetização(10) = Creche (11) = Suplet Alfabetização (12) = Maternal (13)
for i in [11,12,13]:
    dados.loc[dados['Maior graduação']==i,['Maior graduação']] = 10

    #EF (6)  == Elementar(1) = Médio 1º ciclo(2) = EF(4) = Sup EF (6)
for i in [1,2,4]:
    dados.loc[dados['Maior graduação']==i,['Maior graduação']] = 6

    #EM (7)  == Médio 2º ciclo (3) = EM (5) = Sup EM (7)
for i in [3,5]:
    dados.loc[dados['Maior graduação']==i,['Maior graduação']] = 7

    
#Definindo as variáveis qualitativas como categóricas:
for i in range(1,7): #1 a 6
    dados[colunas[i]] = dados[colunas[i]].astype('category')
    
#Definindo as categorias das variáveis categóricas:
dados[colunas[1]].cat.categories=(['Masculino','Feminino'])
dados[colunas[2]].cat.categories=(['Solteiro','Casado','Desquisado','Divorciado','Viúvo'])
dados[colunas[3]].cat.categories=(['Ativa','Inativa'])
dados[colunas[4]].cat.categories=(['< 14','15 a 39','40 a 44','45 a 48','> 49'])
dados[colunas[5]].cat.categories=(['Ensino Fundamental','Ensino Médio','Graduação','Mestrado ou Doutorado', 'Antes do EF'])
dados[colunas[6]].cat.categories=(['Norte','Nordeste','Sudeste','Sul','Centro-Oeste'])

In [180]:
dados.head()

,Idade,Sexo,Estado Civil,Economicamente,CH de trabalho (h),Maior graduação,Região,Rend. trabalho(R$),Rend. total(R$)
0,23,Masculino,Solteiro,Ativa,40 a 44,Ensino Médio,Norte,800.0,800.0
1,23,Feminino,Divorciado,Ativa,40 a 44,Ensino Médio,Norte,1150.0,1150.0
2,35,Feminino,NaN,Ativa,40 a 44,NaN,Norte,880.0,880.0
3,34,Masculino,NaN,Ativa,> 49,Graduação,Norte,3000.0,3000.0
4,11,Feminino,Solteiro,Inativa,NaN,NaN,Norte,NaN,0.0

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!