___
# Ciência dos Dados - PROJETO 1

## Gabriel Couto & Daniel

## Perfil dos adultos brasileiros economicamente ativos por sexo e região


## Introdução

Variáveis Analizadas: <br>
    -Idade <br>
    -Sexo <br>
    -Estado Civil <br>
    -Região <br>
    -Economicamente Ativo ou Inativo <br>
    -Carga Horária de trabalho (h) <br>
    -Nível acadêmico mais elevado que alcançou<br> 
    -Rendimento mensal de todos os trabalhos (reais) <br>
    -Rendimento mensal de todas as fontes(reais) <br>

Analizar
Descreva aqui o que pretende analisar! <br>
OBS:Todos que são economicamente inativos tem Renda do trabalho NaN

___
## Filtros da base de dados

In [188]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
tabela = pd.read_table("PES2015.csv", encoding="windows-1252", sep=",")

In [191]:
colunas = ['V8005', #Int
           'V0302','V4704','V4707','UF', #Category
           'V4719'] #Float

dados = tabela.loc[:,colunas]

#Adotando nomes mais identificáveis às colunas:
colunas[0] = 'Idade' #FILTRAR ADULTOS DEPOIS

colunas[1] = 'Sexo'
colunas[2] = 'Economicamente' #Condição de atividade na semana
colunas[3] = 'CH de trabalho (h)' #Horas trabalhadas na semana em todos empregos (Carga Horária de Trabalho semanal)
colunas[4] = 'Região'
colunas[5] = 'Rend. trabalho(R$)' #Rendimento mensal de todos os trabalhos (para maiores de 10 anos)


#Renomeando colunas
dados.columns = colunas 

#Unindo estados por regiões:
dados['Região'] = dados['Região']//10 
    
#Definindo as variáveis qualitativas como categóricas:
for i in range(1,5): #1 a 4
    dados[colunas[i]] = dados[colunas[i]].astype('category')
    
#Definindo as categorias das variáveis categóricas:
dados[colunas[1]].cat.categories=(['Masculino','Feminino'])
dados[colunas[2]].cat.categories=(['Ativa','Inativa'])
dados[colunas[3]].cat.categories=(['< 14','15 a 39','40 a 44','45 a 48','> 49'])
dados[colunas[4]].cat.categories=(['Norte','Nordeste','Sudeste','Sul','Centro-Oeste'])

In [192]:
dados.head()

,Idade,Sexo,Economicamente,CH de trabalho (h),Região,Rend. trabalho(R$)
0,23,Masculino,Ativa,40 a 44,Norte,800.0
1,23,Feminino,Ativa,40 a 44,Norte,1150.0
2,35,Feminino,Ativa,40 a 44,Norte,880.0
3,34,Masculino,Ativa,> 49,Norte,3000.0
4,11,Feminino,Inativa,NaN,Norte,NaN

___
## Análise e Resultados

In [193]:
dados[(dados.Economicamente=='Ativa')&(dados['Rend. trabalho(R$)']==0)]

,Idade,Sexo,Economicamente,CH de trabalho (h),Região,Rend. trabalho(R$)
140,49,Feminino,Ativa,15 a 39,Norte,0.0
153,18,Masculino,Ativa,15 a 39,Norte,0.0
160,63,Masculino,Ativa,40 a 44,Norte,0.0
285,73,Masculino,Ativa,< 14,Norte,0.0
360,36,Feminino,Ativa,40 a 44,Norte,0.0
361,13,Masculino,Ativa,15 a 39,Norte,0.0
471,23,Feminino,Ativa,< 14,Norte,0.0
528,15,Masculino,Ativa,40 a 44,Norte,0.0
544,14,Masculino,Ativa,15 a 39,Norte,0.0
548,55,Feminino,Ativa,< 14,Norte,0.0
552,69,Masculino,Ativa,< 14,Norte,0.0
556,38,Feminino,Ativa,15 a 39,Norte,0.0
582,44,Feminino,Ativa,< 14,Norte,0.0
585,16,Masculino,Ativa,15 a 39,Norte,0.0
586,11,Feminino,Ativa,15 a 39,Norte,0.0
591,37,Feminino,Ativa,< 14,Norte,0.0
683,79,Masculino,Ativa,45 a 48,Norte,0.0
853,36,Feminino,Ativa,15 a 39,Norte,0.0
854,14,Masculino,Ativa,40 a 44,Norte,0.0
857,70,Feminino,Ativa,< 14,Norte,0.0
863,33,Masculino,Ativa,40 a 44,Norte,0.0
865,62,Feminino,Ativa,15 a 39,Norte,0.0
868,31,Masculino,Ativa,< 14,Norte,0.0
887,14,Masculino,Ativa,15 a 39,Norte,0.0
899,60,Masculino,Ativa,15 a 39,Norte,0.0
965,49,Feminino,Ativa,< 14,Norte,0.0
983,68,Feminino,Ativa,< 14,Norte,0.0
1005,46,Feminino,Ativa,40 a 44,Norte,0.0
1009,23,Feminino,Ativa,< 14,Norte,0.0
1141,51,Feminino,Ativa,15 a 39,Norte,0.0
...,...,...,...,...,...,...
350392,61,Masculino,Ativa,< 14,Centro-Oeste,0.0
350393,57,Feminino,Ativa,< 14,Centro-Oeste,0.0
350600,45,Masculino,Ativa,40 a 44,Centro-Oeste,0.0
350620,70,Masculino,Ativa,15 a 39,Centro-Oeste,0.0
350621,31,Feminino,Ativa,15 a 39,Centro-Oeste,0.0
351598,18,Masculino,Ativa,40 a 44,Centro-Oeste,0.0
351673,70,Feminino,Ativa,< 14,Centro-Oeste,0.0
351754,59,Masculino,Ativa,45 a 48,Centro-Oeste,0.0
351820,29,Feminino,Ativa,45 a 48,Centro-Oeste,0.0
351821,23,Masculino,Ativa,40 a 44,Centro-Oeste,0.0
351922,29,Feminino,Ativa,15 a 39,Centro-Oeste,0.0
351952,61,Masculino,Ativa,40 a 44,Centro-Oeste,0.0
352114,53,Masculino,Ativa,15 a 39,Centro-Oeste,0.0
352125,17,Masculino,Ativa,15 a 39,Centro-Oeste,0.0
352126,16,Masculino,Ativa,< 14,Centro-Oeste,0.0
352140,35,Feminino,Ativa,40 a 44,Centro-Oeste,0.0
352149,61,Masculino,Ativa,< 14,Centro-Oeste,0.0
352159,55,Masculino,Ativa,> 49,Centro-Oeste,0.0
352162,17,Masculino,Ativa,45 a 48,Centro-Oeste,0.0
352662,23,Feminino,Ativa,15 a 39,Centro-Oeste,0.0
352727,54,Feminino,Ativa,40 a 44,Centro-Oeste,0.0
352784,55,Feminino,Ativa,< 14,Centro-Oeste,0.0
352937,18,Feminino,Ativa,15 a 39,Centro-Oeste,0.0
354280,33,Masculino,Ativa,> 49,Centro-Oeste,0.0
354281,26,Masculino,Ativa,> 49,Centro-Oeste,0.0
354289,67,Feminino,Ativa,45 a 48,Centro-Oeste,0.0
354325,48,Masculino,Ativa,40 a 44,Centro-Oeste,0.0
354378,31,Feminino,Ativa,15 a 39,Centro-Oeste,0.0
354382,32,Feminino,Ativa,15 a 39,Centro-Oeste,0.0
354403,34,Feminino,Ativa,15 a 39,Centro-Oeste,0.0

___
## Conclusão

Descreva aqui suas conclusões!